* {
  margin: 0px;

  padding: 0px;

  box-sizing: border-box;
}

.body-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.ul {
  list-style-type: none;
  position: fixed; /*This causes the items of the navbar to clump up for some reason, I had to do .ul instead of ul*/
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: teal;

}
.nav-links {
  overflow: auto;
  display: flex;
  justify-content: space-around;
  width: 50%; /*This is making the last item not hug the end of the page from testing it seems*/
  /* Seems like it affects the width, a bigger # causes it to seem smaller */
}

.nav-links li {
  list-style: none;
  float: right;
  border-right: 1px solid #bbb;
}

.nav-links li:last-child {
  border-right: none;
}

.nav-links a, .dropbtn{
  display: block; /*This makes items be block */
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px; /* From the page I used to create, maybe change later */
}

.nav-links a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;
}

.nav-links li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: burlywood;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


