* {
  margin: 0px;

  padding: 0px;

  box-sizing: border-box;
}

.body-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.heading {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.ul {
  list-style-type: none;
  position: fixed; /*This causes the items of the navbar to clump up for some reason, I had to do .ul instead of ul*/
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color:  #77DD77;/*nav color*/

}
.nav-links {
  overflow: auto;
  display: flex;
  justify-content: space-around;
  width: 50%; /*This is making the last item not hug the end of the page from testing it seems*/
  /* Seems like it affects the width, a bigger # causes it to seem smaller */
}

.nav-links li {
  list-style: none;
  float: right;
  border-right: 1px solid #bbb;
}

.nav-links li:last-child {
  border-right: none;
}

.nav-links a, .dropbtn{
  display: block; /*This makes items be block */
  color: black;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 30px 16px; /* From the page I used to create, maybe change later */
}

.nav-links a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: #63B665;
}

.nav-links li a.active {
  background-color: #4caf50;
}

.nav-links li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: burlywood;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


/*Login and Register styling*/
.log-reg-container {
  border-radius: 5px;
  background-color: aquamarine;
  padding: 20px;
  border: 8px solid black;
  position: absolute;
  left: 50%;
  margin-left: -225px;
  width: 500px;
  height: 600px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.bktolog-reg {
  text-align: center;
  margin-top: 25px;
}

a {
  color: dodgerblue;
}

/*Button for login and register*/
.cnfrmbtn {
  background-color: #9A2A2A;
  color: white;
  padding: 14px 28px;
  font-size: 14px;
  border: 2px solid black;
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style for cards goes here */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  margin-bottom: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  border: 8px  black;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}