* {
  margin: 0px;

  padding: 0px;

  box-sizing: border-box;
}

.body-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: teal;

}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  border-right: 1px solid #bbb;
}
li:first-child{
  float: left;
  border-right: none;
}

li a {
  display: block;
  color: white;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
