<!DOCTYPE html>

<html lang="en-US">

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Swarthmore MarketPlace Login</title>
</head>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navbar.html");
    });
</script>
<!--end of Navigation bar-->

<body>
    <center>
        <!-- Heading -->
        <h1>Login Page</h1>

        <!-- Description -->
        <div>
            <form action='/' method='POST' id="loginForm">
                <label for="email">Swarthmore Email:</label>
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="password" placeholder="Password">
                <br>
                <input type='submit'>
            </form>
            <br>
            <p>Don't have an account? <a href="register.html">Register Here</a></p>
            <!--How do i get it so that Register here stays the same color after mutiple presses?-->
            <!--Forgot password page href goes here-->
        </div>
    </center>
</body>

</html>