<!DOCTYPE html>

<html lang="en-US">

<head>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <title>Swarthmore MarketPlace Login</title>
</head>

<body>
    <center>
        <!-- Heading -->
        <h1>Login Page</h1>

        <!-- Description -->
        <div>
            <form action='/login' method='POST' id="loginForm">
                <label for="email">Swarthmore Email:</label>
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="password" placeholder="Password">
                <br>
                <input type='submit'>
            </form>
            <br>
            <p>Don't have an account? <a href="/register">Register Here</a></p>
            <!--How do i get it so that Register here stays the same color after mutiple presses?-->
            <!--Forgot password page href goes here-->
        </div>
    </center>
</body>

</html>