<!DOCTYPE html>

<html lang="en-US">
  <head>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <title>Main page</title>
    <script src="/static/main.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
        setUserName()
        setPosts()
    </script>
  </head>
  <!--Navigation bar-->
  <body>
    <nav>
        <div class="heading">
            <h4><a style="text-decoration: none; color: black;" href="/"> Swarthmore MarketPlace</a></h4>
            <!--Later this might be an image idk-->
        </div>
        <ul class="nav-links">
          <li><a class="active" href="/">Main Feed</a></li>
          <li><a href="/postItem">Create Post</a></li>
          <li><a href="/profile">My Account</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" id="hello">Hello!</a>
            <div class="dropdown-content">
              <a href="/logout">Log Out</a>
            </div>
          </li>
        </ul>
    </nav>
  <!--end of Navigation bar-->

    <center>
      <!-- Heading -->
      <h1>Main page</h1>

      <div class="row">
        <div id="cards"></div>
        <!-- <div class="column">
          <div class="card">
            <img src="img_avatar.png" alt="Item_name" style="width:50%">
            <div class="container">
              <h3>Item Name Here</h3>
              <ul>
                <li>
                  <span style="position: realtive;">Price Here</span>
                </li>
                <li>Condition Here aaaaaaaaaaaaaaaaaaaaaaa</li>
                <li>Im interested </li>
              </ul>
            </div>
          </div>
      </div> -->
      
      <!-- <div class="column">
        <div class="card">
          <img src="img_avatar.png" alt="Item_name" style="width:50%">
          <div class="container">
            <h3>Item Name Here</h3>
            <ul>
              <li>Price Here</li>
              <li>Condition Here</li>
              <button onClick="contactUser()">Im interested </button>
            </ul>
        </div>
        </div>
    </div>
      
    <div class="column">
      <div class="card">
        <img src="img_avatar.png" alt="Item_name" style="width:50%">
        <div class="container">
              <h3>Item Name Here</h3>
              <ul>
                <li>Price Here</li>
                <li>Condition Here</li>
                <li>Im interested </li>
              </ul>
        </div>
      </div>
  </div>
    
  <div class="column">
    <div class="card">
      <img src="img_avatar.png" alt="Item_name" style="width:50%">
      <div class="container">
              <h3>Item Name Here</h3>
              <ul>
                <li>Price Here</li>
                <li>Condition Here</li>
                <li>Im interested </li>
              </ul>
      </div>
    </div>
</div> -->

      </div>
      <!-- Description -->
    </center>
  </body>
</html>