<!DOCTYPE html>

<html lang="en-US">
  <head>
    <link rel="stylesheet" href="/backend/static/styles.css">
    <title>Main page</title>
  </head>
  <!--Navigation bar-->
  <body>
    <nav>
        <div class="heading">
            <h4><a style="text-decoration: none;color: white;" href="main.html"> Swarthmore MarketPlace</a></h4>
            <!--Later this might be an image idk-->
        </div>
        <ul class="nav-links">
          <li><a class="active" href="main.html">Main Feed</a></li>
          <li><a href="postItem.html">Create Post</a></li>
          <li><a href="profile.html">My Account</a></li>
          <li><a>Hello *name here*</a></li>
        </ul>
    </nav>
  <!--end of Navigation bar-->

    <center>
      <!-- Heading -->
      <h1>Main page</h1>

      <!-- Description -->
    </center>
  </body>
</html>