<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/backend/static/styles.css">
    </head>

<body>
    <!--fix the fixed bar or text so that navbar doesnt eat it, 
        make the navbar take up more screen space
        add a bit more spacing between the items of the navabr 
        the logo is on the left, everything else should be right preferred, 
        when looking at active page, either bolden the text of the page we are on, OR change the color of the text
        make the logo take double space of items
    -->
    <nav>
        <ul>
            <li><a class="active" href="main.html"> Logo</a></li>
            <!--first child is above-->
            <li><a>Hello *name here*</a></li>
            <li><a href="profile.html">My Account</a></li>
            <li><a href="postItem.html">Create Post</a></li>
            <li><a href="main.html">Main Feed</a></li>
        </ul>
    </nav>
</body>

</html>