<!DOCTYPE html>

<html lang="en-US">

  <head>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <title>Swarthmore MarketPlace Post Item Page</title>
</head>

<body>
  <nav>
      <div class="heading">
          <h4><a style="text-decoration: none;color: white;" href="/"> Swarthmore MarketPlace</a></h4>
          <!--Later this might be an image idk-->
      </div>
      <ul class="nav-links">
        <li><a href="/">Main Feed</a></li>
        <li><a class="active" href="/post">Create Post</a></li>
        <li><a href="/profile">My Account</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Hello *name here*</a>
          <div class="dropdown-content">
            <a href="/logout">Log Out</a>
          </div>
    </ul>
  </nav>

<!--Navigation bar-->
  <center>
    <!-- Heading -->
    <h1>Post Item</h1>
  </center>
  <div class="container">
    <h3>Name of Item</h3>
    <input type="text" id = "item_name" placeholder="Item Name">
    <br>
    <h3>Price</h3>
    <input type="text" id = "item_price" placeholder="Price">
    <h3>Condition</h3>
    <input type="text" id = "item_condition" placeholder="Item Condition">
    <h3>Description</h3>
    <input type="text" id = "item_description" placeholder="Item Description">
    
    <label for="photo"><h3>Choose a photo to upload</h3></label>
    <span>
      <input type="file" id="item_photo" name="photo" accept="image/png, image/jpeg">
    </span>
    <div class="row">
      <button class="cnfrmbtn" onclick="sendRequest()">Submit</button>
      <!--button type="submit" class="full">Register</button-->
    </div>

    
  </div>
</body>

</html>

<!-- Description -->