<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Swarthmore MarketPlace Register Page</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
    <center>
        <!-- Heading -->
        
        <!-- Description -->
        <div class="log-reg-container">
            <form action="/register" method="post" id="register">
                <h1>Swarthmore Marketplace Register Page</h1>
                <br>
                <h5><em> Note: Once you register, a verification email will be sent to your Swarthmore email address. This email may be in your spam inbox. <strong> You can only successfully login once you have verified your identity.</strong></em></h5>
                <br>
                <div class="row">

                    <div class="col-25">
                        <label for="fname">First Name:</label>
                    </div>

                    <div class="col-75">
                        <input type="text" id="fname" name="fname" placeholder="Enter your first name" />
                        <small></small>
                    </div>

                </div>

                <div class="row">

                    <div class="col-25">
                        <label for="lname">Last Name:</label>
                    </div>

                    <div class="col-75">
                        <input type="text" id="lname" name="lname" placeholder="Enter your last name">
                        <small></small>
                    </div>

                </div>

                <div class="row">

                    <div class="col-25">
                        <label for="email">Swarthmore Email:</label>
                    </div>

                    <div class="col-75">
                        <input type="email" id="email" name="email" placeholder="Enter your Swarthmore email"/>
                        <small></small>
                    </div>

                </div>

                <div class="row">

                    <div class="col-25">
                        <label for="pwd">Password:</label>
                    </div>

                    <div class="col-75">
                        <input type="password" id="password" name="password" placeholder="Password" />
                        <small></small>
                    </div>
                    
                </div>

                <div class="row">
                    <button class="cnfrmbtn">Register</button>
                </div>
                
            </form>
            <div class="bktolog-reg">
                <p style="font-style: italic; font-weight: 300;">Already have an account?<a href="/login"> Sign in</a>.</p>
            </div>
        </div>
        
    </center>
    
</body>

</html>